* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --main-color: #13bbff;
    --other-color: #c3cad5;

    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: min(5rem, 3%);
    background: transparent;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

header.scrolled {
    background: rgb(13, 11, 11);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    padding: min(5rem, 2%);
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.logo {
    font-size: 35px;
    font-weight: 600;
    color: var(--text-color);
    transition: 0.5s;
}

.logo:hover {
    color: var(--main-color);
    transform: scale(1.1);
    text-shadow: 3px 3px 20px var(--main-color);
}

.navlist {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
}

.navlist a {
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 501;
    transition: 0.5s;
}

.navlist a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color);
}

.login-btn {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 8px 18px;
    border-radius: 8px;
    transition: 0.5s;
    font-weight: 501;
}

.login-btn:hover {
    transform: scale(1.1);
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 20px var(--main-color);
}

/* HERO SECTION */
.main-body {
    height: 100vh;
    width: 100%;
    padding: 110px 16% 90px;
    background: url(./img/background.png);
    background-position: top right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LEFT CONTENT */
.main-content {
    flex: 1;
}

.main-content h4 {
    font-size: 1.6rem;
}

.main-content h1 {
    font-size: 3rem;
    font-weight: 600;
}

.main-content span {
    color: var(--main-color);
}

.main-content p {
    font-size: var(--p-font);
    color: var(--other-color);
    width: 620px;
    max-width: 100%;
    line-height: 30px;
    margin-bottom: 12px;
}

/* SOCIAL ICONS */
.social-main {
    margin-bottom: 18px;
}

.social-main i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--main-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 20px;
    transition: 0.5s;
    box-shadow: 0 0 20px transparent;
}

.social-main i:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}

/* BUTTON */
.btn {
    padding: 8px 18px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    background: transparent;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.btn:hover {
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

/* RIGHT PHOTO */
.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    object-fit: cover;

    /* Glowing effect */
    box-shadow:
        0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 75px var(--main-color);

    transition: 0.4s ease;
}

.hero-img img:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 30px var(--main-color),
        0 0 60px var(--main-color),
        0 0 90px var(--main-color);
}
